[Unit]
Description=Airplay Source- {{airplayName}}

[Service]
Type=simple
User={{user}}
ExecStart=/usr/bin/shairport -a "{{airplayName}}" -p {{airplayPort}} -m tinysvcmdns -o pulse -- -s "{{paName}}"
