<!--This will be a view of a sink while configuring the server.
      modifiedObject.name = $('#airplaysource_name').val();
      modifiedObject.airplayName = $('#airplaysource_airplayname').val();
      modifiedObject.airplayPassword = $('#airplaysource_airplaypassword').val();
      modifiedObject.hidden = $('#airplaysource_hidden').val();
-->
<template name="airplaysourceeditform">
		<div>
			<label>Name</label>
			<input id="airplaysource_name" value="{{ActiveObject.name}}" />
		</div>
		<div>
			<label>Airplay Display Name</label>
			<input id="airplaysource_airplayname" value="{{ActiveObject.airplayName}}" />
		</div>
		<div>
			<label>Airplay Port</label>
			<input id="airplaysource_airplayport" value="{{ActiveObject.airplayPort}}" />
		</div>
		<div>
			<label>Active?</label>
			<input id="airplaysource_enabled" type="checkbox" checked="{{ActiveObject.enabled}}" />
		</div>
		<div>
      <label>Pulseaudio Name</label>
      <input id="airplaysource_paname" value="{{ActiveObject.paName}}" />
    </div>
		<button id="save">Save</button>
</template>
