<!--This will be a view of a sink while configuring the server.
      modifiedObject.name = $('#airplaysource_name').val();
      modifiedObject.airplayName = $('#airplaysource_airplayname').val();
      modifiedObject.airplayPassword = $('#airplaysource_airplaypassword').val();
      modifiedObject.hidden = $('#airplaysource_hidden').val();
-->
<template name="localsinkeditform">
		<h1>Edit Sink Details</h1>
		
		<div>
			<label>Name</label>
			<input id="localsink_name" value="{{ActiveObject.name}}" />
		</div>
		<div>
			<label>Args</label>
			<input id="localsink_args" value="{{ActiveObject.args}}" />
		</div>
		<div>
      <label>Pulseaudio Name</label>
      <input id="localsink_paname" value="{{ActiveObject.paName}}" />
    </div>
		<div>
			<label>Active?</label>
			<input id="localsink_enabled" type="checkbox" checked="{{ActiveObject.enabled}}" />
		</div>
		<button id="save">Save</button>
		<button id="delete">Delete</button>
</template>
