<!--This will be a view of a sink while configuring the server.
-->
<template name="admintreeview">
	<span>Airplay Sources</span><span><button id="newairplaysource">New</button></span>
  <ul>
    {{#each AirplaySourceList}}
				<li>{{name}}</li>
		{{/each}}
  </ul>
	<span>MPD Sources</span><span><button id="newmpdsource">New</button></span>
	<ul>
   {{#each MPDSourceList}}
      <li>{{name}}</li>
   {{/each}}
  </ul>
	<span>Local Sinks</span><span><button id="newlocalsink">New</button></span>
  <ul>
    {{#each LocalSinkList}}
        <li>{{name}}</li>
    {{/each}}
  </ul>
</template>
